<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Project Manager</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="message" class="hidden">
  <div class="error-popup">
    <span id="errorMessage"></span>
    <button id="closeError" onclick="hideError()">Close</button>
  </div>
</div>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
