<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">
  </section>

  <div id="message" class="hidden">
    <div class="error-popup">
      <span id="errorMessage"></span>
      <button id="closeError" onclick="hideError()">Close</button>
    </div>
  </div>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
